@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

html,
body {
    min-height: 100%;
}

body {
    margin: 0;
    --bs-body-font-family: 'Lacquer', cursive;
    font-family: var(--bs-body-font-family);
    background: #0b1220;
}